/**
 * @name Spotify_Discord
 * @version 1.5.0
 * @description Combine Discord and Spotify into one
 * @author CapnKitten Modified by enzomtp
 * 
 * @website http://github.com/enzomtpYT
 * @source https://raw.githubusercontent.com/enzomtpYT/Spotify-Discord-Modified/beta/source.css
 * @donate https://paypal.me/capnkitten
 * @invite xkRPSg4
 */

@import url(https://raw.githubusercontent.com/enzomtpYT/Spotify-Discord-Modified/beta/source.css);

:root {
	--accent-color: #1db954;
	--accent-hover: #1ed760;
	--accent-rgb: 29,185,84;
	--accent-text-color: #fff; /*	-	*/

	--chat-color: #121212;
	--chat-box-color: #272727;
	--sidebar-color: #000;
	--sidebar-panel: #090909; /*	-	*/

	--title-bar: #212121;
	--sticky-header: #181818;
	--sticky-header-border: #303030; /*	-	*/

	--bar-color: #181818;
	--bar-border-color: #282828;
	--bar-size: 90px; /*	-	*/

	--popout-color: #282828;
	--popout-radius: 7px;
	--popout-radius-small: 3px; /*	-	*/

  	--input-color: #5e5e5e;
	--input-bg: #5e5e5e;
	--input-text-color: #333;
	--input-placeholder-color: #444;
}

/* CUSTOM SERVER TITLE BAR COLORS */

.container-3w7J-x[aria-label*="BetterDiscord"]:before {
	--title-custom: #3b77c4;
}

.container-3w7J-x[aria-label*="CapnKitten"]:before {
	--title-custom: #184c88;
}
